/* Using reset styles based on Josh W. Comeau's Modern CSS Reset (https://www.joshwcomeau.com/css/custom-css-reset/) */

/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  Remove default margin, padding and font styles
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
/*
  Set min-height
  Add accessible line-height
  Improve text rendering
*/
body {
  min-height: 100vh;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
/*
  Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==========================================================================================================*/

/* Defining custom properties */

:root {
  --color-primary-bright-orange: hsl(31, 77%, 52%);
  --color-primary-dark-cyan: hsl(184, 100%, 22%);
  --color-primary-very-dark-cyan: hsl(179, 100%, 13%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-neutral-very-light-gray: hsl(0, 0%, 95%);

  --font-size-body: 0.9375rem;
  --font-size-heading: 2.5rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

/* ==========================================================================================================*/

/* Main styles */

body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  color: var(--color-neutral-transparent-white);
  background-color: var(--color-neutral-very-light-gray);
}

.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  width: min(100% - 3rem, 57.5rem);
  margin-block: 5.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card {
  padding: 3rem;
}

.card__content {
  margin-block: 2.1875rem 1.5625rem;
}

.card__title {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: var(--font-size-heading);
  line-height: 1.2;
  margin-block-end: 1.5625rem;
}

.card--orange {
  background-color: var(--color-primary-bright-orange);
}

.card--dark-cyan {
  background-color: var(--color-primary-dark-cyan);
}

.card--very-dark-cyan {
  background-color: var(--color-primary-very-dark-cyan);
}

.card__link {
  background-color: var(--color-neutral-very-light-gray);
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.75rem 2rem;
  border-radius: 1.5625rem;
  border: 0.125rem solid transparent;
  transition: background-color 0.3s ease, color 0.3s, border-color 0.3s ease;
}

.card--orange .card__link {
  color: var(--color-primary-bright-orange);
}

.card--dark-cyan .card__link {
  color: var(--color-primary-dark-cyan);
}

.card--very-dark-cyan .card__link {
  color: var(--color-primary-very-dark-cyan);
}

.card__link:is(:hover, :focus) {
  color: var(--color-neutral-white);
  background-color: transparent;
  border-color: var(--color-neutral-white);
  outline: var(--color-neutral-white);
}

/* attribution */
.attribution {
  display: none;
}

/* For screen readers */
.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .card__content {
    margin-block-end: 5.1875rem;
  }

  .attribution {
    font-size: 0.75rem;
    color: var(--color-primary-dark-cyan);
    display: block;
    position: fixed;
    bottom: 1rem;
  }

  .attribution a {
    color: var(--color-primary-dark-cyan);
    transition: color 0.2s ease;
  }

  .attribution a:is(:hover, :focus) {
    color: var(--color-primary-bright-orange);
    outline: none;
  }
}

@media (min-width: 1440px) {
  .grid {
    margin-block: 0;
  }
}
